<div>
  <h1>{{gender.title}}</h1>
  <div>
    <ul>
      {{#each songs}}
        <li>{{song_title}}
          Author:
          {{author_name}}
          Genre:
          {{genre_name}}
          Album:
          {{album_title}}
          Release Date:
          {{release_date}}</li>
      {{/each}}
    </ul>
    {{#if error}}
      <p class="error">{{error}}</p>
    {{/if}}
  </div>
  <div>
    <div class="pagination">
      {{#if prevPage}}
        <a href="?query={{query}}&page={{prevPage}}">Previous</a>
      {{/if}}

      <span>Page {{page}} of {{totalPages}}</span>

      {{#if nextPage}}
        <a href="?query={{query}}&page={{nextPage}}">Next</a>
      {{/if}}
    </div>

  </div>
</div>