<div>
  <h1>{{genre.name}}</h1>
  <div>
    <ul>
      {{#each songs}}
        <li>{{song_title}}
          Author:
          {{author_name}}
          Genre:
          {{genre_name}}
          Album:
          {{album_title}}
          Release Date:
          {{release_date}}</li>
      {{/each}}
    </ul>
    {{#if error}}
      <p class="error">{{error}}</p>
    {{/if}}
  </div>
  <div>
    <div class="pagination">
      {{#if pagination.hasPrevPage}}
        <a href="{{genre.genre_id}}?page={{pagination.prevPage}}">Previous</a>
      {{/if}}

      <span>Page {{pagination.currentPage}} of {{pagination.totalPages}}</span>

      {{#if pagination.hasNextPage}}
        <a href="{{genre.genre_id}}?page={{pagination.nextPage}}">Next</a>
      {{/if}}
    </div>

  </div>
</div>