<div>
  <h1>{{playlist.title}}</h1>
  <div>
    <ul>
      {{#each songs}}
        <li>{{song_title}}
          Author:
          {{author_name}}
          Genre:
          {{genre_name}}
          Album:
          {{album_title}}
          Release Date:
          {{release_date}}</li>
        <form
          action="/playlists/songs/remove"
          method="POST"
          style="display:inline;"
        >
          <input type="hidden" name="song_id" value="{{song_id}}" />
          <button type="submit" class="btn btn-danger">Remove</button>
        </form>
      {{/each}}
    </ul>
    {{#if error}}
      <p class="error">{{error}}</p>
    {{/if}}
  </div>
</div>