<div>
  <form action="/songs/search" method="get" id="searchForm">
    <input
      type="text"
      name="query"
      placeholder="Search playlists..."
      value="{{query}}"
    />
    <input type="hidden" name="limit" value="5" />
    <button type="submit">🔍</button>
  </form>

  <ul>
    {{#each songs}}
      <li>{{song_title}}
        Author:
        {{author_name}}
        Genre:
        {{genre_name}}
        Album:
        {{album_title}}
        Release Date:
        {{release_date}}</li>
    {{/each}}
  </ul>
  {{#if error}}
    <p class="error">{{error}}</p>
  {{/if}}

</div>